{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>PDF To Audiobook</title>
</head>

<body>
    <div class="container">
        <h1>PDF To Audiobook</h1>
        <div class="row">
            <div class="col-6">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control rounded-0" readonly placeholder="Upload PDF">
                            <label class="input-group-btn my-0">
                                <span class="btn btn-large btn-outline-primary rounded-0" id="browse">
                                    Browse&hellip;
                                    <input id="pdf-input" name="pdf" type="file" accept=".pdf">
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control rounded-0" name="lang">
                            <option value="en">English</option>
                            <option value="hi">Hindi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Convert To Audio</button>
                    </div>
                </form>
            </div>
            <h1>{{status}}</h1>
            {% if status %}
            <h1>Download</h1>
            <a href="{% static audio_file %}">{{audio_file}}</a>
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
        <!-- CUSTOM JS -->
        <script src="{% static 'js/app.js' %}"></script>
</body>

</html>